@import 'colors';
@import 'fonts';
nav{
    display: flex;
    background-color: $custom-white;
    min-height: 3rem;
    padding: 0 1rem;
    
    border-bottom: solid 3px black;
  
    

    #home{
        justify-content: left;
        font-size: 4rem;
        text-decoration: none;
        color: #58787d;

    }

    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-left: auto;
        padding: 0;
        width: 50%;
        font-size: 1.2rem;
            
        a{
            text-decoration: none;
        }

        li{
            color: $custom-white;
            background-color: #58787d;
            padding: 2rem;
            border-top: solid 3px #58787d;
            border-left: solid 3px #58787d;
            border-right: solid 3px #58787d;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            
            
        }

        li:hover{
            background-color: $background-color;
            color: #58787d;
            border-top: solid 3px black;
            border-left: solid 3px black;
            border-right: solid 3px black;
           
           
        }
    }

    @media (max-width:1200px){
        
           ul{
            flex-direction: column;
            width: 30%;
            text-align: center;

            li{
                border-top: solid 3px black;
                border-left: solid 3px black;
                border-right: solid 3px black;
                border-radius: 0rem;
            }
            
           }
           
        
    }
    
}

