@import 'colors';
nav{
    display: flex;
    background-color: $custom-white;
    min-height: 3rem;
    padding: 0 1rem;

    #logo{
        justify-content: left;
     
      
    }

    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-left: auto;
        padding: 0;
        width: 50%;
        
     

        a{
            
            color: $custom-white;
            text-decoration: none;
            background-color: #58787d;
            padding: 2rem;
            border-bottom: solid black 3px;
            
            
        }
    }

    @media (max-width:1200px){
        
           ul{
            background-color: green;
            flex-direction: column;
            width: 30%;
            text-align: center;
            
           }
           
        
    }
    
}

