:root{
    @import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
    $font: "Freeman", sans-serif;
    font-family: $font;
    $custom-red: #bd1c11;
    $custom-white: #f2f4f5;

    body{
        background-color: $custom-red;

        nav{
            display: flex;
            justify-content: space-between;
            background-color: $custom-white;
            min-height: 3rem;
            padding: 0 1rem;

            #logo{
                justify-content: left;
             
              
            }

            ul{
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                margin: 0;
                margin-left: auto;
                padding: 0;
                width: 50%;
                
             

                li{
                    
                    color: $custom-white;
                    text-decoration: none;
                    background-color: #991107;
                    padding: 2rem;
                    border-bottom: solid black 3px;
                    
                    
                }
            }
            
            
        }
        
        

    main {
        
        max-width: 500px;
        padding: 3rem;
        text-align: center;
        background-color: $custom-white;
        border-radius: 20px;
        margin: 200px auto;
        border: solid 3px black;
        min-height: 220px;

        h2{
            font-size: 2rem;
        }

        h3{
            padding: 20px;
            font-size: 1.5rem;
        }

        a{
            text-decoration: none;
            padding: 20px;
            margin: 10px;
            border: solid 2px black;
            color: black;
            background-color: #e0e0e0;
            font-family: $font;
            font-size: 20px;
            border-radius: 25px;
        }
        a:hover{
            background-color: $custom-red;
            color: $custom-white;
        }
        
    
      }
    }
}



  