@import 'colors';
@import 'nav';
@import 'moviecard';

:root{
    @import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
    $font: "Freeman", sans-serif;
    font-family: $font;

    body{
        background-color: $background-color;
        
        

    main {
        
        max-width: 500px;
        padding: 3rem;
        text-align: center;
        background-color: $custom-white;
        border-radius: 20px;
        margin: 200px auto;
        border: solid 3px black;
        min-height: 220px;

        h2{
            font-size: 2rem;
        }

        h3{
            padding: 20px;
            font-size: 1.5rem;
        }

        a{
            text-decoration: none;
            padding: 20px;
            margin: 10px;
            border: solid 2px black;
            color: black;
            background-color: #e0e0e0;
            font-family: $font;
            font-size: 20px;
            border-radius: 25px;
        }
        a:hover{
            background-color: #58787d;
            color: $custom-white;

        }
        
    
      }
    }
}





  